<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.css"/>

    <style>
        .overflow {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>

<body>
<h5>Error Page</h5>
<div>
    <table border="1">
        <tr>
            <td><a href="/events">Events</a> </td>
            <td><a href="/games">Games</a> </td>
        </tr>
    </table>
</div>
<td colspan="2"><span th:text="${msg}"> Title </span></td>

</body>
</html>